* {
  primaryBackgroundColor: #191d21;
  secondaryBackgroundColor: #24282b;
  transparentBackgroundColor: transparent;
  primarySelectionColor: #ee7201;
  secondarySelectionColor: #ee7201;
  tertiarySelectionColor: #ee7201;
  imagesColor: #dcdcdd;
  textColor: #dcdcdd;
  selectedTextColor: #dcdcdd;
  lineColor: #b3b3b3;
  separatorColor: #ee7201;
}
